*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #161616;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main {
  width: 100%;
}

body {
  overflow: hidden;
}

#logo {
  width: 60px;
  height: 60px;
}

.loading-SECTION {
  width: 100%;
  height: 100vh;
}

#logo path,
#logo line {
  stroke-dasharray: 596.7px;
  stroke-dashoffset: 596.7px;
  -webkit-animation: path 2s cubic-bezier(0.37, 0.17, 0.65, 1.3) forwards, loading 0.75s cubic-bezier(0.37, 0.17, 0.65, 1.3) infinite 2.1s;
          animation: path 2s cubic-bezier(0.37, 0.17, 0.65, 1.3) forwards, loading 0.75s cubic-bezier(0.37, 0.17, 0.65, 1.3) infinite 2.1s;
}

@-webkit-keyframes path {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes path {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes loading {
  0% {
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dashoffset: -25px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes loading {
  0% {
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dashoffset: -25px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes blow {
  0% {
    width: 60px;
    height: 60px;
  }
  100% {
    width: 10em;
    height: 10em;
    opacity: 0;
  }
}

@keyframes blow {
  0% {
    width: 60px;
    height: 60px;
  }
  100% {
    width: 10em;
    height: 10em;
    opacity: 0;
  }
}

.language-SECTION {
  position: relative;
  max-width: 1366px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding: 2rem 0;
  min-height: calc(100vh - 65px);
}

.container {
  width: 100%;
  padding: 0.4rem 1rem 2rem 1rem;
}

.text-wrapper {
  text-align: center;
  line-height: 7px;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

.dad-text {
  font-family: "quicksand";
  color: white;
  font-size: 1.08rem;
  font-weight: 500;
}

.son-text {
  font-family: "quicksand";
  color: #9492a2;
  font-size: 0.95rem;
  line-height: 18px;
}

.lang-select {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  margin-top: 6em;
  width: 95%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
}

.lang-select span {
  position: relative;
  height: 14em;
  background-color: #161616;
  border-radius: 50em;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.lang-type p {
  color: #7a7a8c;
  font-family: tondo;
  font-size: 1.3rem;
  z-index: 5;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.bx-check-circle {
  visibility: hidden;
  width: 25px;
  height: 25px;
  position: absolute;
  left: 10%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: all 0.05s ease-in-out;
  transition: all 0.05s ease-in-out;
}

.lang-select span:hover {
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 136, 0, 0.6)), to(rgba(218, 27, 97, 0.6)));
  background: linear-gradient(to right, rgba(255, 136, 0, 0.6), rgba(218, 27, 97, 0.6));
}

.lang-select span:hover > .type-text {
  color: white;
}

.lang-type-clicked p {
  color: white;
}

.lang-type-clicked {
  background: -webkit-gradient(linear, left top, right top, from(#ff8a00), to(#da1b60)) !important;
  background: linear-gradient(to right, #ff8a00, #da1b60) !important;
}

.artist-SECTION {
  max-width: 1366px;
  margin: 0 auto;
  padding: 2rem 0;
}

.container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  padding: 0.4rem 1rem 2rem 1rem;
}

.text-wrapper2 {
  text-align: center;
  font-family: "quicksand";
  margin-top: 30px;
}

.text-wrapper2 h1 {
  font-weight: 700;
  font-size: 30px;
  color: white;
  letter-spacing: -0.05rem;
  margin-bottom: 0;
}

.text-wrapper2 p {
  color: #aaa;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.01rem;
  margin: 10px 0 90px 0;
}

.artist-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 0 15px;
}

.artist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 12px 64px 12px;
  padding: 0 0;
  cursor: pointer;
}

.a-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-size: cover;
  position: relative;
  overflow: hidden;
  z-index: -5;
}

.artist p {
  font-family: "quicksand";
  font-weight: 500;
  font-size: 13px;
  color: white;
  margin: 12px 0 0 0;
  z-index: -5;
}

.a-img::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.check {
  position: relative;
  z-index: 1;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.05s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.05s cubic-bezier(0.4, 0, 0.2, 1);
}

.check svg {
  width: 35px;
  height: 35px;
}

.artist:hover > .a-img::after {
  opacity: 1;
}

.artist-selected::after {
  opacity: 1;
}

.artist-selected .check {
  -webkit-transform: scale(1);
          transform: scale(1);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 72px;
  background: #161616;
  position: fixed;
  bottom: 0;
  font-family: roboto;
  z-index: 1000;
  letter-spacing: 0.007px;
  display: flex !important;
}

footer #finish {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  color: white;
  font-size: 0.847rem;
  font-weight: 500;
  height: 37px;
  border-radius: 2px;
  white-space: nowrap;
  cursor: pointer;
  letter-spacing: inherit;
  overflow: hidden;
  z-index: 5;
}

footer .finish-later-btn {
  width: 120px;
}

footer .cancel-btn {
  width: 85px;
}

footer span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  background: #065fd4;
  font-size: 0.85rem;
  border-radius: 2px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  height: 37px;
  white-space: nowrap;
  letter-spacing: inherit;
  overflow: hidden;
  z-index: 5;
  color: white;
}

footer .next-btn {
  width: 71px;
}

footer .finished-btn {
  width: 92.9px;
}

.disabled {
  background: #606060;
  pointer-events: none;
}

.footer-hidden {
  display: none !important;
}

.circle {
  background: rgba(46, 46, 46, 0.2);
  position: absolute;
  -webkit-transform: scale(0);
          transform: scale(0);
  border-radius: 50%;
  z-index: -5;
  -webkit-animation: ripple 0.35s ease-in;
          animation: ripple 0.35s ease-in;
  cursor: unset;
}

@-webkit-keyframes ripple {
  to {
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
    background: rgba(68, 68, 68, 0.8);
    opacity: 0;
  }
}

@keyframes ripple {
  to {
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
    background: rgba(68, 68, 68, 0.8);
    opacity: 0;
  }
}

::-webkit-scrollbar {
  width: 12px;
  background: rgba(40, 40, 40, 0.98);
  border-left: 1px solid rgba(96, 96, 96, 0.3);
}

::-webkit-scrollbar-thumb {
  background: #606060;
}

::-webkit-scrollbar-thumb:hover {
  background: #727272;
}

@media screen and (max-width: 1290px) {
  .text-wrapper {
    -webkit-transform: scale(0.95) translateY(30px);
            transform: scale(0.95) translateY(30px);
  }
  .text-wrapper2 h1 {
    font-size: 25px;
  }
}

@media screen and (max-width: 1098px) {
  .a-img {
    width: 160px;
    height: 160px;
  }
}

@media screen and (max-width: 999px) {
  .a-img {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 949px) {
  .a-img {
    width: 140px;
    height: 140px;
  }
}

@media screen and (max-width: 900px) {
  .a-img {
    width: 130px;
    height: 130px;
  }
}

@media screen and (max-width: 855px) {
  .a-img {
    width: 155px;
    height: 155px;
  }
}

@media screen and (max-width: 810px) {
  .lang-select {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin-top: 5em;
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    grid-auto-rows: 110px;
  }
  .lang-select span {
    height: 5.5em;
    border-radius: 10px;
  }
  .lang-select span:last-child {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .lang-type-clicked p {
    color: white !important;
  }
  .lang-type-clicked .bx-check-circle {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    visibility: visible;
  }
}

@media screen and (max-width: 795px) {
  .a-img {
    width: 190px;
    height: 190px;
  }
}

@media screen and (max-width: 722px) {
  .a-img {
    width: 170px;
    height: 170px;
  }
}

@media screen and (max-width: 661px) {
  .a-img {
    width: 160px;
    height: 160px;
  }
}

@media screen and (max-width: 631px) {
  .container2 {
    padding: 0.4rem 0 2rem 0;
  }
  .artist {
    margin-left: 0.2rem;
  }
}

@media screen and (max-width: 572px) {
  .a-img {
    width: 145px;
    height: 145px;
  }
}

@media screen and (max-width: 528px) {
  .a-img {
    width: 130px;
    height: 130px;
  }
  .artist p {
    font-size: 12px;
  }
  .text-wrapper2 {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    margin-top: 10px;
  }
  .text-wrapper2 p {
    margin-bottom: 80px;
  }
  .artist {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 500px) {
  .text-wrapper {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .lang-select {
    grid-auto-rows: 90px;
    margin-top: 60px;
  }
  .lang-select span {
    height: 4.4em;
  }
  .lang-select span p {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 483px) {
  .a-img {
    width: 120px;
    height: 120px;
  }
  .artist {
    margin-bottom: 45px;
  }
  .artist p {
    font-size: 12px;
  }
}

@media screen and (max-width: 454px) {
  .a-img {
    width: 100px;
    height: 100px;
  }
  .text-wrapper2 {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
}

@media screen and (max-width: 400px) {
  .text-wrapper {
    -webkit-transform: scale(0.9) translateY(10px);
            transform: scale(0.9) translateY(10px);
  }
  .lang-select {
    grid-auto-rows: 80px;
    margin-top: 50px;
  }
  .lang-select span {
    height: 3.7em;
  }
  .lang-select span p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 393px) {
  .a-img {
    width: 80px;
    height: 80px;
  }
  .text-wrapper2 {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    margin-top: 0;
  }
  .text-wrapper2 p {
    margin-bottom: 60px;
  }
  .artist {
    margin-bottom: 30px;
  }
  .artist p {
    font-size: 8px;
  }
  footer p, footer span {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@media screen and (max-width: 334px) {
  .a-img {
    width: 70px;
    height: 70px;
  }
  .text-wrapper2 {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
}
/*# sourceMappingURL=style.css.map */